
@import '02-variables';

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

html {
  font-size: $body-font-size;
}

.wrapper {
  margin: 1em 5vw;
  max-width: 51em;
}

body {
  margin: 0 auto;
}

h1 {
  color: $h1-color;
  font-family: $h-font;
  font-size: 1.75rem;
  padding: 1.5rem 0 .125em 0;
  text-align: left;
  min-width: 9em;
  width: 100%;
}

h2 {
  font-family: $h-font;
  font-size: 1.33rem;
  line-height: 1.25;
  margin: 1.5rem 0 1.25rem;
}

h3 {
  font-family: $h-font;
  font-size: $h3-size;
  line-height: 1.33;
  margin-bottom: .5em;
}

i {
  font-style: italic;
}

.footnote {
  font-size: .92em;
  margin-top: 1.84em;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

dl {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.33;
}

dl.footnote dt,
dl.footnote dd {
  font-family: $bdy-font;
  font-size: .9375rem;
}

dt {
text-align: right;
width: 3ch;
}

dd {
  margin: 0 0 .46em .325em;
  text-align: left;
  width: calc(100% - 5ch - .5em);
}

sup {
  font-size: .75rem;
  line-height: 100%;
  vertical-align: .33rem;
}

.hamburger-up {
  vertical-align: 2.5%;
}

blockquote {
  line-height: 1.25rem;
  margin: 0 2rem;
  text-align: justify;
}

q,
blockquote {
  quotes: auto;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

hr {
  border-bottom: 1px solid $hrb-color;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 3px;
  margin: 0;
}

main {
  margin: 0 auto;
  padding-top: 1rem;
}

article,
aside {
  margin-bottom: 3em;
}

p {
  font-family: $bdy-font;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

header {
  background-color: $wht;
  font-family: $h-font;
  margin: 0 auto;
}

li,
li a {
  color: $blk;
}

li {
  text-align: center;
}

li:first-of-type {
  text-align: left;
}

li:last-of-type {
  text-align: right;
}

a {
//  color: $link;
  text-decoration: none;
}

a:link {
  color: $link
}
a:visited {
  color: $v-link;
}
a:hover {
  color: $h-link;
}
a:active {
  color: $a-link;
}

.slide {
  margin: 3em auto 0 auto;
}

.slide:first-child {
  margin-top: 1em;
}

.slide1 {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.slide1 .slideHref {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.img-border {
  border: solid 1px #ddd;
}

.index.article-images {
  display: flex;
  justify-content: center;
}

.article-images img {
  max-width: 480px;
  width: 100%;
}

.index.article-images img {
  border: solid 1px #f3f3f3;
  box-shadow: 0px 0px 6px $lt-gray-shado;
  max-width: 960px;
}


img.legend {
  margin-top: -2em;
  max-width: 12em;
}

hr.bod {
  margin: 2em 0 2em 0;
}

figcaption,
details,
details p {
  font-family: $h-font;
  font-size: .80rem;
  line-height: 1.33;
  margin: .325rem 0;
  max-width: 64ch;
}

footer {
  color: $dk-dk-gray;
  display: flex;
  font-size: .9rem;
  justify-content: space-between;
  line-height: 1rem;
  margin: 2em 0;
  width: 100%;
}

p.copyright {
  text-align: left;
  width: 40%;
}

p.resides {
  text-align: right;
  width: 40%;
}

@supports (grid-area: auto) {

  .wrapper {
    @include display-grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    max-width: 48em;
  }

  header {
    background-color: #fff;
    grid-area: header;
    margin: 0;
    opacity: 1;
  }

  nav {
    align-items: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em 2em;
  }

  h1 {
    text-align: center;
  }

  main {
    grid-area: main;
  }

  hr.bod {
    width: 100%;
  }

  figure {
    float: none;
    margin: 2rem 0 0;
    max-width: 480px;
  }

  .bod {
    background-color: $wht;
    padding-top: 1.5rem;
    width: 67%;
  }

  .v-rule {
    border: 0;
    padding: 0;
  }

  footer {
    grid-area: footer;
    margin: 2em 0 .5em;
  }

  @media all and (min-width: 400px) {
    nav {
      grid-template-columns: 1fr 1.61fr;
      grid-template-rows: auto;
    }

    h1 {
      text-align: left;
    }
  }

  @media all and (min-width: 780px) {

    .wrapper {
      max-width: 64em;
    }

    nav {
      grid-template-columns: 1fr 1.61fr;
    }

    main {
      @include display-grid;
      grid-template-areas:
        "article  aside";
      grid-template-columns: 1fr 1.61fr;
//      grid-template-rows: auto 2rem;
    }

    .index-main {
      @include display-grid;
      grid-template-areas:
        "article  aside"
        "section  section";
      grid-template-columns: 1fr 1.61fr;
    }

    .index-section {
      grid-area: section;
    }

    .index.article-images {
      display: flex;
      justify-content: flex-end;
    }

    .slide1 {
      display: flex;
      justify-content: flex-end;
      max-width: 92%;
    }
    
    hr.bod {
      display: none;
    }
  
    .slide {
      padding-left: 2em;
    }

    aside {
      justify-self: end;
    }

    aside:first-of-type {
      margin-top: .875em;
    }

   .v-rule {
      border-right: 1px solid $gray;
      padding-right: 1.5rem;
    }

  }

}
